@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Dosis-ExtraBold.ttf");

}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Dosis-VariableFont_wght.ttf");

}

* {
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto';
 
}


